---
// Admin page - no frontmatter needed
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exploreans CMS</title>
  <meta name="robots" content="noindex">
</head>
<body>
  <script src="https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js" type="module"></script>
  <script type="module">
    import CMS from 'https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js';
    CMS.init({
      config: '/admin/config.yml'
    });
  </script>
</body>
</html>
